img{
    width:615px;
    height:346px;
}
.imageContainer { 
    position: relative; 
    max-width: 100%;
    
 }
 
 h2 { 
    position: absolute;
    top: 60%;
    left: 1%;
    max-width: 530px;
    max-height: 31%;
    background-color: black;
    opacity:0.6;
    color: white;
 }
 li {
    list-style-type: none;
   }
   ul {
    margin-left: 0; 
    padding-left: 0;
   }