<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <select class="custom-select" (change)="changeCountry($event)" formControlName="countryName">
        <option value="">Choose Country</option>
        <option *ngFor="let country of Country" [ngValue]="country">{{country[0]}}</option>
    </select>
    <button type="submit">Submit</button>
</form>

<div *ngFor="let article of articles">
    <div class = "imageContainer">
        <ul>
        <li><a href="{{article.url}}"><img src="{{article.urlToImage}}"></a></li>
        <li><h2>{{article.title}}</h2></li>        
        </ul>
    </div>
</div>

